@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Martel:wght@200;300;400;600;700;800;900&family=Metrophobic&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Marcellus', serif;
  font-family: 'Martel', serif;
  font-family: 'Metrophobic', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
}


@layer base {
  :root {
    --color-primary: #004441;
    --color-secondary: #07484A;
    --text-gold: #D9B9A9;
    --text-black: #121212;
    --text-red: #FF0000;
  }

  h1 {
    @apply text-4xl font-bold uppercase text-black text-center leading-[51px]
  }

  
  h2 {
    @apply leading-7 uppercase font-normal text-lg tracking-[0.25em] text-black
  }


  h3 {
    @apply leading-[58px] font-normal text-[46px] tracking-[0.5px] text-secondary
  }
}

@layer components {
  .transitions {
    @apply duration-300 ease-out
  }
}


h2 {
  font-family: 'Marcellus', sans-serif;
}

.types::-webkit-scrollbar,
.filtersWrapper::-webkit-scrollbar {
  display: none;
}

span.p-slider-range {
  background: #004441 !important;
}

.p-slider-handle {
  border-color: #004441 !important;
  background: #004441 !important;
}

.new-arrival .swiper-slide-active {
  backdrop-filter: blur(0);
  transform: scaleY(110%) !important;
  opacity: 100% !important;
}

.new-arrival .swiper-slide:active, 
.new-arrival .swiper-slide:focus,
.new-arrival .swiper-slide:hover {
  background-color: rgba(255, 255, 255, 0.733) !important;
  transition: all ease-in-out 300ms;
  opacity: 100% !important;
}


.new-arrival .swiper-slide {
  transition: all ease-in-out 300ms;
  max-width: fit-content;
}